.storefrontImg {
    width: 100%;
    height: auto;
    margin: 0;
}

.wineAislesImg {
    width: auto;
    height: auto;
}

.wineDiv {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.wineText {
    font-size: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}