.storefrontImg {
    width: 100%;
    height: auto;
    margin: 0;
}

.wineAisles {
    width: auto;
    height: 100;
    box-shadow: 10px 5px 5px grey;
}

.categoryDiv {
    padding: 20px;
    display: flex;
    padding-top: 300px;
}

.wineText {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-image: url(../../images/linewineart2.png);
    /* created by OpenArt AI "create a simple continuous line drawing of a wine glass and wine bottle" */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;  
}

.wineText h1 a{
    font-size: 50px;
    font-weight: bold;
    color: #054581;
    text-decoration: none;
}

.wineText p, .beerText p, .spiritsText p {
    opacity: 0;
    transition: opacity 0.5s ease; /* Transition both opacity and display */
}

.wineText:hover p, .beerText:hover p, .spiritsText:hover p{
    opacity: 1;
}

.spiritsImg {
    width: auto;
    height: auto;
    box-shadow: 10px 5px 5px grey;
}

.spiritsText {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-image: url(../../images/lineartbourbonglass1.png);
    /* created by OpenArt AI "create a very simple black and white continuous line drawing of a whiskey glass" */
    background-repeat: no-repeat;
    background-position: center;
}

.spiritsText h1 a{
    font-size: 50px;
    font-weight: bold;
    color: #054581;
    text-decoration: none;
}

.coolerdoors {
    width: auto;
    height: auto;
    box-shadow: 10px 5px 5px grey;
}
.beerText {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-image: url(../../images/lineartbeerimage.png);
    /* created by OpenArt AI "create a simple continuous line drawing of a beer bottle and glass" */
    background-repeat: no-repeat;
    background-position: center;
}

.beerText h1 a{
    font-size: 50px;
    font-weight: bold;
    color: #054581;
    text-decoration: none;
}