.storefrontImg {
    width: 100%;
    height: auto;
    margin: 0;
}

.wineAislesImg {
    width: auto;
    height: auto;
}

.categoryDiv {
    padding: 20px;
    display: flex;
    padding-top: 300px;
}

.wineText {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-image: url(../../images/linewineart2.png);
    /* created by OpenArt AI "create a simple continuous line drawing of a wine glass and wine bottle" */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;  
}

.wineText h1 {
    font-size: 50px;
    font-weight: bold;
    color: #054581;
}

.spiritsImg {
    width: auto;
    height: auto;
}

.spiritsText {
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-image: url(../../images/lineartbourbonglass1.png);
    /* created by OpenArt AI "create a very simple black and white continuous line drawing of a whiskey glass" */
    background-repeat: no-repeat;
    background-position: center;
}

.spiritsText h1 {
    font-size: 50px;
    font-weight: bold;
    color: #054581;
}
