.spiritsHomeImg {
  height: 600px;
  background-image: url(../../images/tequilaaisle.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.spiritsHomeImg h1 {
  color: white;
  font-family: bold "Open Sans";
  font-size: 80px;
  font-weight: bold;
  margin: auto;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.spiritsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f8f9fa;
}

.highEndSpirits {
  background-color: rgb(120, 175, 58);
  z-index: -1;
  margin: 20px;
}

.highEndSpirits p {
  font-size: 30px;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 2;
  color: #f8f9fa;
  opacity: 0.5;
}

.reserveSpiritsHeading {
  font-size: 250px;
  position: absolute;
  top: 1500px;
  text-align: justify;
  padding-top: 3%;
  padding-left: 5%;
  font-family: arial, sans-serif;
  z-index: 2;
  color: #f8f9fa;
  opacity: 0.5;
}

.reserveSpiritsImgDiv {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 50px;
  padding-top: 150px;
}

.reserveSpiritsImg {
  width: 50%;
  height: auto;
  margin-right: 50px;
  z-index: 1;
}

.reserveSpiritsText {
  font-size: 30px;
  padding: 20px;
  text-align: center;
  margin: auto;
  font-family: arial, sans-serif;
  color: white;
  line-height: 2;
}
