/* overriding user agent stylesheet */
a#basic-nav-dropdown {
    text-decoration: none;
    font-family: georgia;
    font-size: 35px;
    color: #054581;
    text-shadow: 1px 1px 2px white;
}

/* styling for navbar */
.navbarStyle {
    display: flex;
    background-color: rgb(120, 175, 58);
    justify-content: center;
    top: 0;
    height: 124px;
    z-index: 2;
}

/* spacing for navbar items */
.menuItemStyle {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    text-decoration: none;
  };

  /* effects for menu items */
.menuItem {
    transition: all .2s ease-in-out;
    margin: 0;
    padding: 0;
}

/* hover effects for menu items */
.menuItem:hover {
    transform: scale(1.2); 
}

/* styling for menu items */
.linkStyle {
    text-decoration: none;
    font-family: georgia;
    font-size: 35px;
    margin: 10px;
    color: #054581;
    text-shadow: 1px 1px 2px white;
  };
