/* overriding user agent stylesheet */
a#basic-nav-dropdown {
    text-decoration: none;
    font-family: georgia;
    font-size: 35px;
    margin: 10px;
    color: #054581;
    text-shadow: 1px 1px 2px white;
}

.navbarStyle {
    display: flex;
    background-color: rgb(120, 175, 58);
    justify-content: center;
    position: sticky;
    top: 0;
}
section {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    text-decoration: none;
  };



section NavDropdown {
    text-decoration: none;
}

.menuItem {
    transition: all .2s ease-in-out;
    margin: 0;
    padding: 0;
}

.menuItem:hover {
    transform: scale(1.2); 
}

.linkStyle {
    text-decoration: none;
    font-family: georgia;
    font-size: 35px;
    margin: 10px;
    color: #054581;
    text-shadow: 1px 1px 2px white;
  };
