.footerContainer {
    background-color: rgb(120, 175, 58);
    padding: 20px;
}

.icon {
    height: 60px;
    margin: 10px;
}

.iconLinks {
    text-align: center;
}

.iconLinks h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.footerLogo {
    height: 100px;
    margin: 10px;
}

.footerLogoDiv {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
}

.footerInfo {
    padding-top: 20px;
}

.footerColumnHrs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerColumnHrs h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.footerColumnLoc {
    display: flex;
    flex-direction: column;
    line-height: .5;
}

.footerColumnLoc h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}