.footerContainer {
    background-color: rgb(120, 175, 58);
    padding: 20px;
}

.icon {
    height: 50px;
    margin: 10px;
}

.footerLogo {
    height: 100px;
    margin: 10px;
}

.footerLogoDiv {
    display: flex;
    justify-content: center;
}