.footerContainer {
    background-color: rgb(120, 175, 58);
    padding: 20px;
}

.icon {
    height: 60px;
    margin: 10px;
}

.iconLinks {
    display:flex;
    justify-content: center;
    align-items: center;    
}

.iconLinks h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.footerLogo {
    height: 100px;
    margin: 10px;
}

.footerLogoDiv {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
}

.footerInfo {
    padding-top: 20px;
}

.footerColumnInfo {
    display: flex;
    flex-direction: column;
}

.footerColumnInfo p a{
    text-decoration: none;
    color: white;
}

.footerColumnInfo h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(18, 80, 33);
}

.footerColumnLoc {
    display: flex;
    flex-direction: column;
    line-height: .5;
}

.footerColumnLoc h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(18, 80, 33);
}

.footerColumnLoc h3 a{
    text-decoration: none;
    color: white;
}