.wineHomeImg {
    height: 600px;
    background-image: url(../../images/WineHomepage1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.wineHomeImg h1 {
    color: white;
    font-family: bold "Open Sans";
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.VIPContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.VIPForm {

}