.wineHomeImg {
    height: 600px;
    background-image: url(../../images/WineHomepage1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.wineHomeImg h1 {
    color: white;
    font-family: bold "Open Sans";
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.VIPContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f8f9fa;
}

.VIPFormStyle {
    box-shadow: 10px 10px 10px #888888;
    border-radius: 30px;
    background-color: #054581;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.VIPFormStyle input {
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    margin: 5px;
}

.VIPFormStyle input {
    margin-bottom: 10px;   
}

.VIPFormStyle input[type=checkbox] {
    width: 40px;
    height: 20px;
}

.VIPFormStyle label[for=GeneralInterest] {
    font-size: 20px;
    margin: 5px;
}

.VIPFormStyle label[for=VIPWineClub] {
    font-size: 20px;
    margin: 5px;
}

.VIPFormStyle button {
    border-radius: 30px;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(120, 175, 58);
    color: #f8f9fa;
    font-weight: bold;
}

.VIPFormStyle button:hover {
    background-color: #f8f9fa;
    color: #054581;
}